<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
	<title>Page not found</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Cache-control" content="public">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href='https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="assets/css/404.css" />
</head>
<body>
	<div class="logo">
		<p>OOPS! - Page not found</p>
		<img src="/assets/images/404.png"/>
		<div class="home-btn">
			<a href="/">Home</a>
		</div>
	</div>
	<div class="footer">
		Design by <a href="https://w3layouts.com/" target="_blank">W3Layouts</a>
	</div>
</body>